<div class="col-lg-12 control-section" style="min-height: auto;">
  <ejs-querybuilder #querybuilder class="row" [dataSource]="gridDataSource" width="100%" (ruleChange)="updateRule($event)">
    <e-columns>
      <e-column field="_id" label="Employee ID" type="string"></e-column>
      <e-column field="firstName" label="First Name" type="string"></e-column>
      <e-column field="lastName" label="Last Name" type="string"></e-column>
      <e-column field="email" label="Email" type="string"></e-column>
      <e-column field="country" label="Country" type="string"></e-column>
      <e-column field="role" label="Role" type="string"></e-column>
      <e-column field="languages" label="Languanges" type="array"></e-column>
    </e-columns>
  </ejs-querybuilder>
</div>
<div class="col-lg-12 control-section">
  <div class="content-wrapper">
    <ejs-grid id="Grid" #grid [dataSource]="gridDataSource" [allowGrouping]="true"  [allowSorting]='true' [allowSelection]="true" [allowPaging]="true" [pageSettings]="pageSettings" width="100%" [editSettings]="editSettings" [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (created)="onGridCreated()">
      <e-columns>
      <e-column field="_id" headerText="Employee ID" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="firstName" headerText="First Name" type="string"></e-column>
      <e-column field="lastName" headerText="Last Name" type="string"></e-column>
      <e-column field="email" headerText="Email" type="string"></e-column>
      <e-column field="country" headerText="Country" type="string"></e-column>
      <e-column field="role" headerText="Role" type="string"></e-column>
      <e-column field="languages" headerText="Languanges" type="array">
        <ng-template #template let-data >
        <div>
          <ejs-chiplist id="chip" selection="Multiple" *ngFor="let lang of data.languages" >
            <e-chips >
                <e-chip text="{{lang}}" cssClass="e-primary"></e-chip>
            </e-chips>
        </ejs-chiplist>
        </div>
        </ng-template>
      </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
<button (click)="getAllEmployees()">GetEmployees</button>
<ejs-chiplist id="chip" selection="Multiple">
        <e-chips>
            <e-chip text="Primary" cssClass="e-primary"></e-chip>
            <e-chip text="Success" cssClass="e-success"></e-chip>
            <e-chip text="Info" cssClass="e-info"></e-chip>
            <e-chip text="Warning" cssClass="e-warning"></e-chip>
             <e-chip text="Danger" cssClass="e-danger"></e-chip>
        </e-chips>
    </ejs-chiplist>
