<div class="control-section">
  <ejs-dashboardlayout id='default_dashboard' columns="5" #default_dashboard [cellSpacing]='cellSpacing'  [allowResizing]='false'>
      <div id="one" class="e-panel" data-row="0" data-col="0" data-sizeX="5" data-sizeY="1">
        <div class="header">
          <p>Job Statistics</p>
        </div>
          <div class="e-panel-container">
            <div class="text-align">
                <app-jobstatistics></app-jobstatistics>
              </div>
          </div>
      </div>
      <div id="two" class="e-panel" data-row="1" data-col="0" data-sizeX="2" data-sizeY="2">
        <div class="header">
          <p>Language Statistics</p>
        </div>
          <div class="e-panel-container">
              <div class="text-align">
                <app-languagestatistics></app-languagestatistics>
              </div>
          </div>
      </div>
      <div id="three" class="e-panel" data-row="1" data-col="2" data-sizeX="3" data-sizeY="2">
        <div class="header">
          <p>Language Management</p>
        </div>
          <div class="e-panel-container">
            <app-languagemanagement></app-languagemanagement>
          </div>
      </div>
      <div id="four" class="e-panel" data-row="3" data-col="0" data-sizeX="5" data-sizeY="1">
        <div class="header">
          <p>Employee Management</p>
        </div>
          <div class="e-panel-container">
              <app-employeemanagement></app-employeemanagement>
          </div>
      </div>
  </ejs-dashboardlayout>
</div>
