<div class="container">
  <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title">Currently Available Jobs</div>
        </div>
    </div>
    <div class="e-card-content">
        {{currentlyAvailable}}
    </div>
  </div>
  <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title">Currently Active Jobs</div>
        </div>
    </div>
    <div class="e-card-content">
        {{currentlyActive}}
    </div>
  </div>
  <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title">Average Waiting Time</div>
        </div>
    </div>
    <div class="e-card-content">
        {{avgWaitingTime}} days
    </div>
  </div>
  <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title">Average Working Time</div>
        </div>
    </div>
    <div class="e-card-content">
        {{avgWorkingTime}} days
    </div>
  </div>
  <div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-title">Employee Load</div>
        </div>
    </div>
    <div class="e-card-content">
        {{employeeLoad}} jobs / employee
    </div>
  </div>
</div>
