<!--<div class="control-section">
  <ejs-dashboardlayout id='defaultLayout' [columns]="6" #defaultLayout [cellSpacing]='cellSpacing'>
      <div id="one" class="e-panel" data-row="0" data-col="0" data-sizeX="6" data-sizeY="1">
          <div class="e-panel-container">
          <div>
            <p>Job info</p>
          </div>
            <div tabindex="0" class="e-card" id="basic">
              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-title">Available Jobs</div>
                  </div>
              </div>
              <div class="e-card-content">
                  20
              </div>
          </div>
            <div tabindex="1" class="e-card" id="basic">
              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-title">Active jobs</div>
                  </div>
              </div>
              <div class="e-card-content">
                  10
              </div>
          </div>
            <div tabindex="2" class="e-card" id="basic">
              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-title">Under review</div>
                  </div>
              </div>
              <div class="e-card-content">
                  1
              </div>
          </div>
        </div>
      </div>
      <div id="two" class="e-panel" data-row="1" data-col="0" data-sizeX="3" data-sizeY="2">
          <span id="close" class="e-template-icon e-clear-icon"></span>
          <div class="e-panel-container">
            <div class="header">Available Jobs</div>
            <div class="text-align">
              <ejs-accordion>
                <e-accordionitems>
                  <e-accordionitem expanded='true'>
                    <ng-template #header>
                      <div>ASP.NET</div>
                    </ng-template>
                    <ng-template #content>
                      <div>Microsoft ASP.NET is a set of technologies in the Microsoft .NET Framework for building Web applications and XML Web
                        services. ASP.NET pages execute on the server and generate markup such as HTML, WML, or XML that is sent to a desktop
                        or mobile browser. ASP.NET pages use a compiled,event-driven programming model that improves performance and enables
                        the separation of application logic and user interface.</div>
                    </ng-template>
                  </e-accordionitem>
                </e-accordionitems>
            </ejs-accordion>
            </div>
          </div>
      </div>
      <div id="three" class="e-panel" data-row="1" data-col="3" data-sizeX="3" data-sizeY="2">
          <span id="close" class="e-template-icon e-clear-icon"></span>
          <div class="e-panel-container">
            <div class="header">header</div>
            <div class="text-align">3</div>
          </div>
      </div>
  </ejs-dashboardlayout>
</div>
-->
<div class="col-lg-12 control-section">
  <div class="content-wrapper">
    <ejs-grid id="Grid" #grid [dataSource]="gridDataSource" [allowGrouping]="true"  [allowSorting]='true' [allowSelection]="true" [allowPaging]="true" [pageSettings]="pageSettings" width="100%" [editSettings]="editSettings" [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (created)="onGridCreated()">
      <e-columns>
      <e-column field="_id" headerText="Job ID" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="clientId" headerText="Client ID" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="folder" headerText="Folder" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="price" headerText="Price" type="string"></e-column>
      <e-column field="sourceLang" headerText="Original Language" type="string"></e-column>
      <e-column field="reqLang" headerText="Requested Language" type="string"></e-column>
      <e-column field="status" headerText="Status" type="string"></e-column>
      <e-column field="employeeId" headerText="Employee ID" type="string"></e-column>
      <e-column field="creationDate" headerText="Creation Date" type="string"></e-column>
      <e-column field="startDate" headerText="Start Date" type="string"></e-column>
      <e-column field="completionDate" headerText="Complition Date" type="string"></e-column>
      <!--<e-column field="languages" headerText="Languanges" type="array">
        <ng-template #template let-data >
        <div>
          <ejs-chiplist id="chip" selection="Multiple" *ngFor="let lang of data.languages" >
            <e-chips >
                <e-chip text="{{lang}}" cssClass="e-primary"></e-chip>
            </e-chips>
        </ejs-chiplist>
        </div>
        </ng-template>
      </e-column>-->
      </e-columns>
    </ejs-grid>
  </div>
</div>
<button (click)=getAllJobs()>GetJobs</button>
