<div class="control-section">
  <ejs-dashboardlayout id='defaultLayout' [columns]="6" #defaultLayout [cellSpacing]='cellSpacing'>
      <div id="one" class="e-panel" data-row="0" data-col="0" data-sizeX="6" data-sizeY="1">
          <div class="e-panel-container">
          <div class="header">
            <p>Job info</p>
          </div>
            <div tabindex="0" class="e-card" id="basic">
              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-title">Available Jobs</div>
                  </div>
              </div>
              <div class="e-card-content">
                  {{jobs.length}}
              </div>
          </div>
            <div tabindex="1" class="e-card" id="basic">
              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-title">Active jobs</div>
                  </div>
              </div>
              <div class="e-card-content">
                  {{jobs.length}}
              </div>
          </div>
            <div tabindex="2" class="e-card" id="basic">
              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-title">Needs review</div>
                  </div>
              </div>
              <div class="e-card-content">
                  {{jobsForReview.length}}
              </div>
          </div>
        </div>
      </div>
      <div id="two" class="e-panel" data-row="1" data-col="0" data-sizeX="3" data-sizeY="2">
          <span id="close" class="e-template-icon e-clear-icon"></span>
          <div class="e-panel-container">
            <div class="header">
              <p>Available Jobs</p>
            </div>
            <div class="text-align">
              <app-availablejobs></app-availablejobs>
            </div>
          </div>
      </div>
      <div id="three" class="e-panel" data-row="1" data-col="3" data-sizeX="3" data-sizeY="2">
          <span id="close" class="e-template-icon e-clear-icon"></span>
          <div class="e-panel-container">
            <div class="header">
              <p>Review Needed</p>
            </div>
            <div class="text-align">
              <app-reviewjobs></app-reviewjobs>
            </div>
          </div>
      </div>
  </ejs-dashboardlayout>
</div>
