<div>
  <div id='element' class="element">
    <div class="sample_container avatar-types">
        <div class="avatar-block">
            <!-- Card Component -->
            <div class="e-card e-avatar-showcase">
                <div class="e-card-content">
                    <span class="e-avatar e-avatar-circle green">{{initials}}</span>
                    <div class="userinfo">
                      <p class="name" *ngIf="currentUser">{{currentUser.firstName}} {{currentUser.lastName}}</p>
                      <p class="usertype" *ngIf="currentUser">{{currentUser.role}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
