<div>
  <div id='element' class="element">
    <div class="sample_container avatar-types">
        <div class="avatar-block">
            <!-- Card Component -->
            <div class="e-card e-avatar-showcase">
                <div class="e-card-content">
                    <span class="e-avatar e-avatar-circle green">PM</span>
                    <div class="userinfo">
                      <p class="name">Mark Palmai</p>
                      <p class="usertype">Admin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
