<tl-sidebar-container #sidebar>
  <tl-sidebar [position]="'start'" [mode]="'slide'" [dock]="true" [dockWidth]="200">
    <div class="logosection">
      <img src="../assets/placeholder.png">
    </div>
    <div class="adminsection" *ngIf="isAdmin">
      <p>Admin Section</p>
      <tl-menu
      [items]="adminMenuItems"
      [link]="'link'"
      [width]="'200px'"
      [filterEmptyMessage]="'Not Found'"
      [inputPlaceholder]="'Type something...'"
      [titleMenu]="'Main Menu'"
      [label]="'name'"
      [docked]="false"
      [dockWidth]="'35px'"
      [group]="'category'"
      [subItem]="'subItem'"
      [mode]="'advanced'"
      [icon]="'icon'">
    </tl-menu>
  </div>
  <p>User Section</p>
    <tl-menu
      [items]="commonMenuItems"
      [link]="'link'"
      [width]="'200px'"
      [filterEmptyMessage]="'Not Found'"
      [inputPlaceholder]="'Type something...'"
      [titleMenu]="'Main Menu'"
      [label]="'name'"
      [docked]="false"
      [dockWidth]="'35px'"
      [group]="'category'"
      [subItem]="'subItem'"
      [mode]="'advanced'"
      [icon]="'icon'">
    </tl-menu>
  </tl-sidebar>
  <tl-sidebar-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </tl-sidebar-content>
  <tl-sidebar [position]="'end'" [mode]="'slide'">
   <!-- Sidebar End Content-->
  </tl-sidebar>
</tl-sidebar-container>

