<p *ngIf="jobs.length <= 0">{{'PAGES.AVAILABLEJOBS.NOJOBS' | translate}}</p>
<ejs-accordion>
  <e-accordionitems>
    <e-accordionitem expanded='false' *ngFor="let job of jobs">
      <ng-template #header>
        <div>{{ 'PAGES.AVAILABLEJOBS.HEADERFROM' | translate}} {{job.sourceLang}} {{'PAGES.AVAILABLEJOBS.HEADERTO' | translate}} {{job.reqLang}}</div>
      </ng-template>
      <ng-template #content>
        <div>
          <p>ID: {{job._id}}</p>
          <p>{{ 'PAGES.AVAILABLEJOBS.CREATIONDATE' | translate}} {{job.creationDate}}</p>
          <p>{{ 'PAGES.AVAILABLEJOBS.ORIGINALLANG' | translate}} {{job.sourceLang}}</p>
          <p>{{ 'PAGES.AVAILABLEJOBS.REQLANG' | translate}} {{job.reqLang}}</p>
          <p>{{ 'PAGES.AVAILABLEJOBS.FOLDER' | translate}} {{job.folder}}</p>
          <p>{{ 'PAGES.AVAILABLEJOBS.STATUS' | translate}} {{job.status}}</p>
          <button ejs-button cssClass="e-primary" (click)="acceptJob(job)">{{ 'PAGES.AVAILABLEJOBS.ACCEPT' | translate}}</button>
        </div>
      </ng-template>
      </e-accordionitem>
    </e-accordionitems>
</ejs-accordion>
