<p *ngIf="!activeJob">No current jobs.</p>
<div class="accordion-container" *ngIf="activeJob">
  <ejs-accordion>
    <e-accordionitems>
      <e-accordionitem expanded='false'>
        <ng-template #header>
          <div>Current Job Info</div>
        </ng-template>
        <ng-template #content>
          <p>ID: {{activeJob._id}}</p>
          <p>Source Language: {{activeJob.sourceLang}}</p>
          <p>Requested Language: {{activeJob.reqLang}}</p>
          <p>Request Date: {{activeJob.creationDate}}</p>
        </ng-template>
      </e-accordionitem>
    </e-accordionitems>
  </ejs-accordion>
</div>
<div id='container' class="workspace" *ngIf='activeJob'>
  <ejs-splitter #horizontal height='1200px' width='100%' >
    <e-panes>
        <e-pane>
          <ng-template #content>
            <div class="content">
            <div class="content-wrapper">
              <ejs-pdfviewer id="pdfViewer" class="pdfViewerComponent" [serviceUrl]='service' [documentPath]='document' style="display:block; height: 1200px;"></ejs-pdfviewer>
            </div>
          </div>
        </ng-template>
      </e-pane>
      <e-pane>
        <ng-template #content>
          <div class="content">
            <div class="content-wrapper">
              <ejs-documenteditorcontainer style="display:block; height: 1200px;" [enableToolbar]=true></ejs-documenteditorcontainer>
            </div>
          </div>
        </ng-template>
      </e-pane>
    </e-panes>
  </ejs-splitter>
</div>

<button ejs-button cssClass="e-success" (click)='doneJob()' *ngIf='activeJob'>DONE</button>
