<div class="col-lg-12 control-section container">
  <div class="content-wrapper">
    <ejs-grid id="Grid" #grid [dataSource]="languageList" [allowSorting]='true' [allowSelection]="true" [allowPaging]="true" [pageSettings]="pageSettings" width="100%" [editSettings]="editSettings" [toolbar]="toolbar" (actionBegin)='actionBegin($event)' (created)="onGridCreated()">
      <e-columns>
      <e-column field="_id" headerText="Langauge ID" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="name" headerText="Full name" type="string"></e-column>
      <e-column field="short" headerText="Short name" type="string"></e-column>
    </e-columns>
    </ejs-grid>
  </div>
</div>
