<!--<p *ngIf="jobHistory.length <= 0">No job history to display.</p>-->
<div class="col-lg-12 control-section">
  <div class="content-wrapper">
    <ejs-grid id="Grid" #grid [dataSource]="jobHistory" [allowGrouping]="true"  [allowSorting]='true' [allowSelection]="true" [allowPaging]="true" [pageSettings]="pageSettings" width="100%" (created)="onGridCreated()">
      <e-columns>
      <e-column field="_id" headerText="Job ID" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="clientId" headerText="Client ID" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="folder" headerText="Folder" type="string" [allowEditing]= 'false'></e-column>
      <e-column field="sourceLang" headerText="Original Language" type="string"></e-column>
      <e-column field="reqLang" headerText="Requested Language" type="string"></e-column>
      <e-column field="status" headerText="Status" type="string"></e-column>
      <e-column field="creationDate" headerText="Creation Date" type="string"></e-column>
      <e-column field="startDate" headerText="Start Date" type="string"></e-column>
      <e-column field="completionDate" headerText="Complition Date" type="string"></e-column>
      <e-column field="reviewBy" headerText="Reviewed by" type="string"></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
